
@media only screen and (min-width: 1440px) {
    
  body{
      div.root{
          background-image: url(/images/bg-desktop.svg);
          background-repeat: no-repeat;
          background-size: 100%;
          background-color: $myViolet;

          div.content{ 
            padding: 4em;
            header.headerLogo{
                .logo{
                    width: 15%;
                }
            }
              div.div_Main{
                display: flex;
                flex-direction: row;
                align-items: center;

                .illustration{
                    width: 100%;
                    padding: auto;
                }

                  div.div_Info{   
                    padding: 3em;
                    text-align: left;

                    header.header h1{
                        font-size: 40px;
                        line-height: 1.4em;
                    }
                    .p_Info{
                        font-size: 18px;
                        line-height: 1.4em;
                        color: $myWhite;
                    }
                    .btn_Register{
                        padding: .80rem 4rem;
                        font-size: 20px;
                    }
                  }
              }

              .footer{
                  display: flex;
                  justify-content: end;
                  align-items: center;
              }

          }
      }
}  
}
